<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="container-fluid">
    <h1>Members Only</h1>
    <h1>A club based message board</h1>
    <a href="/">Home</a>
    <a href="/messages">Feed</a>
    <%if(locals.currentUser){%>
        <a href="/messages/message/create">Create Post</a>
    <%}%>
    <%if(locals.currentUser && locals.currentUser.admin === true){%>
        <a href="/users">Users</a>
    <%}%>
    <%if(locals.currentUser){%>
        <a href="/log-out">LOG OUT</a>
    <%}%>
    <%if(undefined !== locals.currentUser){%>
    <strong><%=locals.currentUser.first_name%> <%=locals.currentUser.last_name%></strong>
    <% } %>
    <main>
        <%- body %>
    </main>
</body>
</html>
