<div>
    Do you really want to delete this Post?
</div>
<form method="POST">
    <div class="form-group">
        <input type="hidden" id="message_id" name="message_id" value=<%=message._id%>>
        <button class="btn btn-primary" type="submit">Delete</button>
    </div>
</form>